<div class="row" *ngIf="countryName !== ''">
    <div class="col-sm-12">
      <div class="chart-container">
        <div class="green-box col-sm-4 mb-2">
          <p>Name of country: {{countryName}}</p>
        </div>
        <div class="stat">
          <p class="whihe-box w-25">Number of entries <strong
              class="bold-text">{{participationJOCount}}</strong>
          </p>
          <p class="whihe-box w-25">Total number medals <strong class="bold-text">{{medalsCount}}</strong>
          </p>
          <p class="whihe-box w-25">Total number of athletes <strong
              class="bold-text">{{athleteCount}}</strong>
          </p>
        </div>
  
  
  
        <ngx-charts-line-chart (window:resize)="onResize($event)" [view]="view" [scheme]="colorScheme" [legend]="legend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi">
        </ngx-charts-line-chart>
        
       <a routerLink="" style="margin-bottom: 50px;">Go back</a>
      </div>
    </div>
  </div>
  
  <div class="container d-flex justify-content-center align-items-center vh-100" *ngIf="countryName === '' ">   
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2> No results!</h2>
        <a routerLink="">Go back</a>
      </div>
    </div>
  </div>
